/* Scrollbars - for webkit browsers and "futureproofed" for others */
::-webkit-scrollbar {
  width: 12px;
  background: var(--scrollbar-track);
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}
html {
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
  scrollbar-width: thin;
}
/* Borders for focus and accessibility */
:focus-visible {
  outline: 2.5px solid var(--color-accent);
  outline-offset: 2px;
}